@page "/"

<MudContainer Class=" mud-theme-primary" MaxWidth="MaxWidth.False" Style="padding-bottom:20em;padding-top:10em ">

    <MudGrid>

        @*
        <MudItem xs="12" sm="6" md="6" lg="6">
        <MudGrid>
        <MudItem xs="12">
        <MudPaper Elevation="2" Class="pa-4 d-flex align-center justify-center mud-width-full" Style="height: 200px;">
        <MudText Align="Align.Left" Typo="Typo.h2">I design Web <MudElement ></MudElement> & User Interfaces</MudText>
        </MudPaper>
        </MudItem>
        <MudItem xs="12">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"><MudText Align="Align.Center"><b>Center</b> Lorem ipsum dolor sit amet.</MudText></MudPaper>
        </MudItem>
        </MudGrid>
        </MudItem>
        *@
        <MudItem xs="12" sm="6" md="6" lg="6" Class="">

            <MudPaper Elevation="2" Class="pa-4 p-flex align-center justify-center mud-width-full mud-theme-primary " Style="height: 100%; background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px); ">
                <MudText Typo="Typo.h1" Align="Align.Center" GutterBottom="true">👋 Hi,</MudText>
                <MudText Typo="Typo.h4" Align="Align.Center">If you have problem on the web, <MudElement HtmlTag="span" Style="font-weight:500; background-image: linear-gradient(4deg,#c591f8,#00d5d8); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">Crosby Web</MudElement> is here to help!</MudText>
                <MudGrid>
                    <MudItem xs="12" sm="12" md="12" lg="12">
                        <MudChip Icon="@Icons.Material.Filled.Web" Color="Color.Tertiary">Websites</MudChip>
                        <MudChip Icon="@Icons.Custom.Brands.Google" Color="Color.Tertiary">oogle Business</MudChip>
                        <MudChip Icon="@Icons.Custom.Brands.MicrosoftAzure" Color="Color.Tertiary">Azure Cloud</MudChip>
                        <MudChip Icon="@Icons.Custom.Brands.Microsoft" Color="Color.Tertiary">SharePoint</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.Code" Color="Color.Tertiary">C#</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.Api" Color="Color.Tertiary">API</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.BugReport" Color="Color.Tertiary">Debug</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.Search" Color="Color.Tertiary">SEO</MudChip>
                    </MudItem>
                </MudGrid>

            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="6" lg="6" Class="">
            <MudPaper Elevation="0" Class="pa-4 d-flex align-center justify-center mud-width-full mud-theme-primary " Style="height: 100%; ">
                <MudImage Fluid="true" Src="Media/Images/jakecrosbyclipped.png" Alt="Owner" Elevation="25" Class="rounded-lg" Style=" background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px);" />
            </MudPaper>
        </MudItem>
    </MudGrid>

</MudContainer>
<MudContainer Class="" Style="@($"color:{Colors.DeepPurple.Darken3}; background:{Colors.DeepPurple.Lighten5};")" MaxWidth="MaxWidth.False">

    <MudText Class="half-color" Typo="Typo.h1" Align="Align.Center" GutterBottom="true" Style="color: #ede7f6; font-weight:500; text-shadow: 2px 2px 6px #594ae2 !important;">Check out my journey</MudText>
    @*
    <MudText Typo="Typo.h2" Align="Align.Center" GutterBottom="true" Style="font-weight:500; background-image: linear-gradient(4deg,#c591f8,#00d5d8); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">Check out my journey</MudText>
    *@
    <MudText Typo="Typo.h5" Align=" Align.Center" Style="color:rgb(103, 116, 142);">My orgin story started from a code bootcamp</MudText>

    <MudTimeline>
        <MudTimelineItem Color="Color.Info" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Info" Typo="Typo.h5">~2016-2017</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Code Bootcamp at Gateway Technical College</MudText>
                <MudText>The IT- Junior SharePoint Developer diploma trains students in the development and maintenance of business web sites as well as designing and developing collaboration applications with Microsoft SharePoint. Topics will include web site design and development and basic knowledge of SQL and back-end databases. This concentration includes a focus on the Microsoft Certified SharePoint Solution Developer (MCSD) Certification. Typical entry-level positions for this training opportunity include junior web developer, junior web programmer, and Junior SharePoint Developer. </MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Success" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Success" Typo="Typo.h5">~2018-2019</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Data Specialists, Inc</MudText>
                <MudText>Merging legacy software with its most recent version. Debugging code. Implementing Continuous Integration (CI) with production software. Utilizing repositories for the sake of version control. Technologies used: Cruise Control, MCLv3, MCLv4, Eclipse, CaPlex r6.1, SQL Server Express 2016, and SQL Server Management Studio 2017. </MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Error" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Error" Typo="Typo.h5">~2019-Present</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Error" Typo="Typo.h6" GutterBottom="true">Freelance Web Developer</MudText>
                <MudText>Projects vary but most involve the following Tech Stack: Asp.Net MVC 5, MS Server 17, T-SQL, Azure Storage, JS (ECMAScript 2015), jQuery 3.3.1, CSS3, Bootstrap 3/4, and AJAX.</MudText>
            </ItemContent>
        </MudTimelineItem>
    </MudTimeline>

    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
        <MudDivider />
        <MudText Class="half-color" Typo="Typo.h1" Align="Align.Center" GutterBottom="true" Style="color: #ede7f6; font-weight:500; text-shadow: 2px 2px 6px #594ae2 !important;">Services</MudText>
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12">
                <MudPaper Elevation="2" Class="pa-4 d-flex justify-center mud-width-full " Style="">
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="6" lg="6" >
                 <MudGrid>
                <MudItem xs="12">
                              <MudPaper Elevation="2" Class="pa-4   d-flex flex-wrap justify-center mud-width-full gap-4" Style="@($"color:{Colors.DeepPurple.Darken3}; background:{Colors.DeepPurple.Lighten5};")">
                    <MudImage ObjectFit="ObjectFit.Cover" Fluid="true" Src="Media/Images/aspnet-resize.png" Alt="dot net" Class="rounded-lg" Style="" />
                   <p>
                       Blazor Wasm and Server are becoming more widely adopted. I can understand that hosting a Blazor application can be cumbersome. Given that you are using Azure Cloud to host your Blazor application, you will notice very quickly that there is a plethora of payment options. Depending on your business needs, I can help push in the right direction that fits the bill. 
                   </p>
                   <p>
Need help developing a Blazor application. I have the knowledge and experience to help your business get up and running blazing fast with Blazor. 
                   </p>
                    <p>
In regards to debugging, it can be challenging to debug code when there are so many options to do so. I am well versed with the following debugging features: Call Stack, Locals, and Watch windows, code profiler, Debugger actions, so forth.</p>
                   <p>
Overall, the process of debugging an ASP.NET application can be complex and time-consuming, but with the right tools and techniques, it is possible to identify and fix issues to improve the performance and stability of the application.
                   </p>
                   
                </MudPaper>
                </MudItem>
                <MudItem xs="12">
                               <MudPaper Elevation="2" Class="pa-4   d-flex flex-wrap justify-center mud-width-full gap-4" Style="@($"color:{Colors.DeepPurple.Darken3}; background:{Colors.DeepPurple.Lighten5};")">
                    <MudImage ObjectFit="ObjectFit.Cover" Fluid="true" Src="Media/Images/aspnet-resize.png" Alt="dot net" Class="rounded-lg" Style="" />
                   <p>
                       Blazor Wasm and Server are becoming more widely adopted. I can understand that hosting a Blazor application can be cumbersome. Given that you are using Azure Cloud to host your Blazor application, you will notice very quickly that there is a plethora of payment options. Depending on your business needs, I can help push in the right direction that fits the bill. 
                   </p>
                   <p>
Need help developing a Blazor application. I have the knowledge and experience to help your business get up and running blazing fast with Blazor. 
                   </p>
                    <p>
In regards to debugging, it can be challenging to debug code when there are so many options to do so. I am well versed with the following debugging features: Call Stack, Locals, and Watch windows, code profiler, Debugger actions, so forth.</p>
                   <p>
Overall, the process of debugging an ASP.NET application can be complex and time-consuming, but with the right tools and techniques, it is possible to identify and fix issues to improve the performance and stability of the application.
                   </p>
                   
                </MudPaper>
                </MudItem>
            </MudGrid>
    
            </MudItem>
            <MudItem xs="12" sm="6" md="6" lg="6"  >
               <MudPaper Elevation="2" Class="pa-4  d-flex flex-wrap justify-center mud-width-full gap-4" Style="@($"color:{Colors.DeepPurple.Darken3}; background:{Colors.DeepPurple.Lighten5};")">                   
                    <MudImage ObjectFit="ObjectFit.Cover" Fluid="true" Src="Media/Images/azure.png" Alt="azure" Class="rounded-lg" Style="" />
                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                    ​</p>
                    <MudExpansionPanels Class="" MultiExpansion="false" >
                        <MudExpansionPanel Text="Page rendering issues" >
                            Page rendering issues - This can be caused by invalid HTML or CSS code.
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Permission errors">
                            Permission errors - This can occur when users do not have the correct permissions to access certain pages or functions within SharePoint.
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Sync errors">
                            Sync errors - These can occur when there are issues with synchronizing data between the SharePoint server and client.
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Search issues">
                            Search issues - This can happen when the search function is not working properly, resulting in incomplete or incorrect search results.
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Security vulnerabilities">
                            Security vulnerabilities - These can occur if the SharePoint installation is not properly configured or if there are security flaws in the underlying infrastructure.
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Performance issues">
                            Performance issues - This can occur when SharePoint is not performing as efficiently as it should, which can be caused by a variety of factors such as high levels of traffic or resource intensive processes.
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Compatibility issues">
                            Compatibility issues - This can occur when SharePoint is not compatible with certain web browsers or operating systems.
                        </MudExpansionPanel>
                        <MudExpansionPanel Text="Upgrade issues">
                            Upgrade issues - These can occur when upgrading to a new version of SharePoint, as there may be compatibility issues or other problems that arise.
                        </MudExpansionPanel>
                    </MudExpansionPanels>

               </MudPaper>@**@
            </MudItem>

        </MudGrid>
    </MudContainer>

</MudContainer>
<MudContainer Class="" Style="@($"color:{Colors.DeepPurple.Darken3}; background:{Colors.DeepPurple.Lighten5};")" MaxWidth="MaxWidth.False">

    <MudGrid>
        <MudItem xs="12">
            <MudPaper Class="d-flex flex-wrap justify-center mud-width-full py-8">
                xs=12
            </MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
        </MudItem>
    </MudGrid>
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Pricing</MudText>
    <MudText Align="Align.Center">Some long pricing text should go here maybe? who knows what text you would want here, i guess i cant fill it in for you.</MudText>
    <MudGrid Class="mt-16 ">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4 mud-theme-primary">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Beginner</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">$5</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Monthly</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4 mud-theme-primary">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Starter</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">$10</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Monthly</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4 mud-theme-primary">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Professional</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">$15</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Monthly</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
@code {

}
